html {
    height: 100vh;
}

body {
    background: linear-gradient(#5A827E,#FAFFCA);
    

}
.Container {
   display: grid;
}
.search-API input{
    padding: 5px;
}
button{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 2px;
}
.search-API{
    align-content: center;

}
